.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 45px;
    background: #DA2328;
    border-radius: 10px;
    border: none;
    &:focus {
         outline: none; 
        }
    &__img {
        height: 16px;
        margin-right: 7px;
    }
    &__text {
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    }
}